# Node modules
node_modules/
package-lock.json

# Cache
.cache/
cache/

# Environment variables
.env

# Ignore all uploaded financial statements (PDFs)
public/uploads/financials/*
!public/uploads/financials/.gitkeep
.DS_Store
